/* ##########################################################  
-------------------------------------------------------------
FONTS 
-------------------------------------------------------------
########################################################## */

@import url('../fonts/fontawesome/css/all.min.css');
@import url(https://fonts.googleapis.com/css?family=Caladea);
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

/* ##########################################################  
-------------------------------------------------------------
GLOBAL CSS 
-------------------------------------------------------------
########################################################## */

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
* {
  outline: none;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Open Sans', Arial, Helvetica, sans-serif !important;
  font-size: 16px;
  line-height: 24px;
  color: #686868;
  font-weight: normal !important;
}

@media screen and (max-width: 1600px) {
  body {
    font-size: 15px;
  }
}

a,
p,
img,
div,
ul,
li,
span,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
select,
hr,
header,
footer,
section,
article,
nav,
iframe {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  background: none;
  border: none;
}

a {
  color: #b79b5b;
  text-decoration: none;
  outline: none !important;
}

a:hover {
  color: #204849;
  text-decoration: underline;
}

a:focus {
  color: #b79b5b;
  text-decoration: none;
  outline: none;
}

.text-white {
  color: #ffffff;
}

.text-brown {
  color: #b79b5b !important;
}

.text-green {
  color: #204849;
}

.text-semibold {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.text-italic {
  font-style: italic;
}

.font-20 {
  font-size: 20px;
  line-height: 28px;
}

.font-caladea {
  font-family: 'caladea';
}

.shadow {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
  -o-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
  -ms-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
}

.bg-light {
  background-color: #f0f0f0 !important;
}

/* --- Headings CSS --- */

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  color: #204849;
  font-weight: 400;
  text-transform: none;
  background: none;
  border: none;
  font-smooth: always;
  font-family: 'caladia';
}

h1 {
  font-size: 60px;
  line-height: 66px;
}

h2 {
  font-size: 48px;
  line-height: 54px;
}

h3 {
  font-size: 42px;
  line-height: 48px;
}

h4 {
  font-size: 36px;
  line-height: 42px;
}

h5 {
  font-size: 30px;
  line-height: 36px;
}

h6 {
  font-size: 24px;
  line-height: 30px;
}

@media screen and (max-width: 1199.98px) {
  h1 {
    font-size: 48px;
    line-height: 50px;
  }
  h2 {
    font-size: 36px;
    line-height: 44px;
  }
  h3 {
    font-size: 32px;
    line-height: 40px;
  }
  h4 {
    font-size: 28px;
    line-height: 36px;
  }
  h5 {
    font-size: 24px;
    line-height: 32px;
  }
  h6 {
    font-size: 20px;
    line-height: 28px;
  }
}

@media screen and (max-width: 576.98px) {
  h1 {
    font-size: 36px;
    line-height: 40px;
  }
  h2 {
    font-size: 28px;
    line-height: 36px;
  }
  h3 {
    font-size: 26px;
    line-height: 34px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
  h5 {
    font-size: 22px;
    line-height: 30px;
  }
  h6 {
    font-size: 20px;
    line-height: 28px;
  }
}

/* --- Margins CSS --- */

.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

.mauto {
  margin: 0 auto !important;
}

.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: 10px;
}

.mb2 {
  margin-bottom: 20px;
}

.mb3 {
  margin-bottom: 30px;
}

.mb4 {
  margin-bottom: 40px;
}

.mb5 {
  margin-bottom: 50px;
}

.mb6 {
  margin-bottom: 60px;
}

.mb9 {
  margin-bottom: 90px;
}

.mb10 {
  margin-bottom: 100px;
}

.mb120 {
  margin-bottom: 120px;
}

@media screen and (max-width: 1199.98px) {
  .mb0-lg {
    margin-bottom: 0;
  }
  .mb1-lg {
    margin-bottom: 10px;
  }
  .mb2-lg {
    margin-bottom: 20px;
  }
  .mb3-lg {
    margin-bottom: 30px;
  }
  .mb4-lg {
    margin-bottom: 40px;
  }
  .mb5-lg {
    margin-bottom: 50px;
  }
  .mb6-lg {
    margin-bottom: 60px;
  }
  .mb9-lg {
    margin-bottom: 90px;
  }
  .mb10-lg {
    margin-bottom: 100px;
  }
  .mb120-lg {
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 991.98px) {
  .mb0-md {
    margin-bottom: 0;
  }
  .mb1-md {
    margin-bottom: 10px;
  }
  .mb2-md {
    margin-bottom: 20px;
  }
  .mb3-md {
    margin-bottom: 30px;
  }
  .mb4-md {
    margin-bottom: 40px;
  }
  .mb5-md {
    margin-bottom: 50px;
  }
  .mb6-md {
    margin-bottom: 60px;
  }
  .mb9-md {
    margin-bottom: 90px;
  }
  .mb10-md {
    margin-bottom: 100px;
  }
  .mb120-md {
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 767.98px) {
  .mb0-sm {
    margin-bottom: 0;
  }
  .mb1-sm {
    margin-bottom: 10px;
  }
  .mb2-sm {
    margin-bottom: 20px;
  }
  .mb3-sm {
    margin-bottom: 30px;
  }
  .mb4-sm {
    margin-bottom: 40px;
  }
  .mb5-sm {
    margin-bottom: 50px;
  }
  .mb6-sm {
    margin-bottom: 60px;
  }
  .mb9-sm {
    margin-bottom: 90px;
  }
  .mb10-sm {
    margin-bottom: 100px;
  }
  .mb120-sm {
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 576.98px) {
  .mb0-xs {
    margin-bottom: 0;
  }
  .mb1-xs {
    margin-bottom: 10px;
  }
  .mb2-xs {
    margin-bottom: 20px;
  }
  .mb3-xs {
    margin-bottom: 30px;
  }
  .mb4-xs {
    margin-bottom: 40px;
  }
  .mb5-xs {
    margin-bottom: 50px;
  }
  .mb6-xs {
    margin-bottom: 60px;
  }
  .mb9-xs {
    margin-bottom: 90px;
  }
  .mb10-xs {
    margin-bottom: 100px;
  }
  .mb120-xs {
    margin-bottom: 120px;
  }
}

.margin-btm40 {
  margin-bottom: 40px;
}

/*home page css*/

.valcommen {
  padding: 120px 0;
}

.max992 {
  max-width: 992px;
  margin: 0 auto;
}

.max992 p {
  color: #686868;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.justifyCenter {
  justify-content: center;
}

.brown {
  background: #957938;
}

.brown a:hover {
  background: #fff;
}

.brown a:hover .text {
  color: #957938;
}

.light-brown {
  background: #b79b5a;
}

.light-brown a:hover {
  background: #fff;
}

.light-brown a:hover .text {
  color: #b79b5a;
}

.dark-brown {
  background: #7a5d19;
}

.dark-brown a:hover {
  background: #fff;
}

.dark-brown a:hover .text {
  color: #7a5d19;
}

.valcommen-box,
.behandlingar-box {
  height: 270px;
  max-width: 270px;
  width: 100%;
  color: #fff;
  margin: 15px 15px;
}

.behandlingar-box a,
.valcommen-box a {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.valcommen-box a span,
.behandlingar-box a img {
  max-height: 100px;
  max-width: 100px;
  margin: 0 auto;
}

.valcommen-box a span {
  display: inline-block;
  position: relative;
}

.valcommen-box a span .link-icon-hidden {
  display: none;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 99;
}

.valcommen-box a:hover span .link-icon-hidden {
  display: inline;
  transition: 0.2s ease;
}

.valcommen-box a:hover span .link-icon-show {
  display: hidden;
}

.valcommen-box a .text {
  padding-top: 38px;
  font-family: 'caladia';
  font-size: 30px;
  color: #fff;
}

.valcommen-box a:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
  -o-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
  -ms-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
  transition: 0.3s ease;
}

.bg-gray {
  background: #f4f4f4;
  padding: 120px 0;
}

.behandlingar-box a {
  background: transparent;
  border: 1px solid #e2d9c6;
  color: #b79b5b;
}

.behandlingar-box a span {
  padding-top: 30px;
  font-family: 'caladia';
  font-size: 20px;
}

.behandlingar-box a:hover {
  background: #fff;
  border-color: transparent;
  color: #204849;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
  -o-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
  -ms-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
  transition: 0.3s ease;
}

.links a,
.links-white a {
  display: inline-block;
  background-color: transparent;
  color: #b79b5b;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  padding: 15px 35px;
  font-size: 16px;
  border: 1px solid #b79b5b;
  position: relative;
  transition: 0.5s;
  font-family: 'caladea';
}

.links a:after,
.links-white a:after {
  content: '\f061';
  position: absolute;
  font-family: 'FontAwesome';
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  transition: 0.3s;
  color: #204849;
  padding: 5px 0 3px;
}

.links a:hover,
.links-white a:hover {
  color: #204849;
}

.links a:hover:after,
.links-white a:hover:after {
  background: #f4f4f4;
  padding: 5px 0 3px;
  opacity: 1;
  right: -7px;
}

.links-white a:hover:after {
  background: #fff !important;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.side-image {
  flex-basis: 50%;
  object-fit: fill;
}

.side-image img {
  width: 100%;
  height: 100%;
}

.side-content {
  flex-basis: 50%;
  padding: 0px 150px;
  color: #686868;
}

.max660 {
  max-width: 660px;
}

.jcenter {
  align-items: center;
}

.o2 {
  order: 2;
}

.max1200 {
  max-width: 1200px;
  margin: 0 auto;
}

.mt4 {
  margin-top: 60px;
}

@media screen and (max-width: 1600px) {
  .side-content {
    flex-basis: 50%;
    padding: 0px 30px;
  }
  .side-content h2 {
    font-size: 40px;
    line-height: 45px;
  }
  p {
    font-size: 15px;
  }
  .side-content p.mb4 {
    margin-bottom: 30px;
  }
  .mbs3 {
    margin-bottom: 30px;
  }
  .mbs4 {
    margin-bottom: 40px;
  }
  .mb1-5 {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1250px) {
  .side-content {
    flex-basis: 50%;
    padding: 0px 50px;
  }
  .side-image {
    flex-basis: 50%;
    padding: 0 50px;
  }
  .side-image img {
    border-radius: 10px;
  }
  .pt40 {
    padding: 40px 0;
  }
}

@media screen and (max-width: 992px) {
  .side-content,
  .side-image {
    flex-basis: 100%;
  }
  .side-image {
    height: 350px;
  }
  .side-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .o2 {
    order: 0;
  }
  .side-content {
    margin-top: 30px;
  }
}

/*--- slider ---*/

.tesimonial-bg {
  padding: 115px 0 100px;
  position: relative;
}
.tesimonial-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg-testimonial.png);
  background-size: cover;
  background-position: center right;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

#testimonial-slider {
  max-width: 1000px;
}

.testimonial {
  padding: 75px 25px 0px;
  margin-bottom: 60px;
  position: relative;
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.testimonial:after {
  content: '\f10d';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 40px;
  color: #b79b5b;
  position: absolute;
  top: 20px;
  left: 25px;
}

.testimonial .description {
  font-size: 25px;
  color: #204849;
  line-height: 35px;
  font-family: 'caladea';
  font-style: italic;
}

.testimonial .pic img {
  width: 100%;
  height: auto;
}

.testimonial .testimonial-title {
  font-size: 20px;
  color: #b79b5b;
  font-family: roboto;
}
.testimonial .testimonial-sub-title {
  color: #204849;
}
.testimonial .testimonial-title p {
  font-size: 14px;
  color: #666;
  margin-top: 7px;
}

.owl-theme .owl-controls {
  padding: 0 25px;
  text-align: left !important;
}

.owl-theme .owl-controls .owl-page span {
  border-radius: 0px !important;
  background: #204849 !important;
  opacity: 1 !important;
  margin: 5px 5px !important;
}
.owl-item {
  width: 100%;
}

.owl-theme .owl-controls .owl-page.active span {
  background: #b79b5b !important;
}

.text12 {
  font-size: 13px !important;
}

/*banner*/

.banner {
  /*    background: url('../images/bg-banner-one.png'), url('../images/bg-banner-two.png');
        background-repeat: no-repeat, no-repeat;
        background-position: top left, top right;
        background-size: 69% 100%, 31% 100%;*/
  background: url('../images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
  background-position: top right;
  display: flex;
  align-items: center;
}
.banner a {
  background: #b79b5b;
  color: #fff;
  padding: 15px 17px;
  font-size: 30px;
  margin-left: 70px;
  font-family: 'caladea';
}
.banner a:hover {
  background: #fff;
  color: #b79b5b;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.mt9 {
  margin-top: 90px;
}
.banner-btns {
  border: 1px solid #b79b5b;
  max-width: 550px;
  border-left: none;
  position: relative;
}

.border-left-trns {
  padding: 20px 0 20px 70px;
  border-left: 1px solid transparent;
  border-image: linear-gradient(
    to bottom,
    #b79b5b 13%,
    transparent 13%,
    transparent 87%,
    #b79b5b 87%
  );
  border-image-slice: 1;
}

.banner-btns:before {
  content: '\f879';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #204849;
  position: absolute;
  left: -22px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
}

.banner-btn2:before {
  content: '\f3c5' !important;
  left: -18px;
}

@media (max-width: 550px) {
  .banner-btns:before {
    left: -20px;
    font-size: 37px;
  }
  .banner-btn2:before {
    left: -15px;
    font-size: 39px !important;
  }
}

.font-30 {
  font-size: 30px;
}

.banner-content {
  flex-basis: 65%;
}

.banner-image {
  flex-basis: 35%;
}

.banner-image img {
  width: 100%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
  -o-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
  -ms-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1) !important;
}

@media screen and (max-width: 1600px) {
  .banner {
    padding: 80px 0;
  }
}

@media screen and (max-width: 1200px) {
  .banner {
    margin-top: 0px;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .banner {
    background: url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    padding: 120px 0;
    margin-top: 0px;
  }
  .banner-content {
    flex-basis: 100%;
  }
  .banner-image {
    flex-basis: 50%;
    margin-top: 20px;
  }
  .justifyCenterSmall {
    justify-content: center;
  }
  .banner-btns {
    margin: 20px auto;
    text-align: left;
  }
  .banner-content {
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .banner-btns {
    margin: 20px 20px 20px 40px;
  }
  .border-left-trns {
    padding: 20px 0 20px 40px;
  }
  .font-30 {
    line-height: 30px;
  }
  .banner-image {
    flex-basis: 80%;
    margin-top: 20px;
  }
}

/*Modal css*/

.modal-content {
  padding: 0 !important;
  border-radius: 0 !important;
  top: 50px;
}

.modal-content .close {
  position: absolute;
  top: 10px !important;
  right: 20px !important;
  z-index: 9;
  font-size: 30px;
}

.modal-content .modal-body {
  padding: 0 40px 40px 40px;
}

.modal-body .model-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 26px 0;
  position: relative;
  top: -50px;
  text-align: center;
  background: #b79b5b;
  overflow: hidden;
}

.modal-body h5 {
  font-size: 16px;
  font-family: roboto;
}

.modal-body textarea {
  height: 100px !important;
}

.modal-body h4 {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
}

.modal-body h5 {
  font-size: 16px;
  line-height: 24px;
}

.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
  outline: none;
}

.margin-btm20 {
  margin-bottom: 20px;
}

.margin-btm10 {
  margin-bottom: 10px;
}

.checkbox {
  margin-right: 3px !important;
  position: relative;
  bottom: 2px;
  display: inline-block;
  vertical-align: middle;
}

.form-control {
  padding: 10px 15px;
  border: 1px solid #d7dcdf;
  color: #757575 !important;
  background: #ffffff;
  vertical-align: middle;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.text-grey {
  color: #757575;
}

.inner-links-modal {
  max-width: 130px;
  border: 1px solid #b79b5b;
  border-right: none;
  position: relative;
  margin-top: 40px;
  margin: 0 auto;
}

.links-modal {
  display: block;
  background-color: transparent;
  color: #b79b5b;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  padding: 15px 0px;
  width: 129px;
  border: none;
  font-size: 16px;
  border-right: 1px solid #b79b5b;
  position: relative;
  transition: 0.5s;
  font-family: 'caladea';
}

.links-modal:after {
  content: '\f061';
  position: absolute;
  font-family: 'FontAwesome';
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  transition: 0.3s;
  color: #204849;
  padding: 5px 0 3px;
}

.links-modal:hover {
  color: #204849;
  border-right: 1px solid transparent;
  border-image: linear-gradient(
    to bottom,
    #b79b5b 13%,
    transparent 13%,
    transparent 87%,
    #b79b5b 87%
  );
  border-image-slice: 1;
}

.links-modal:hover:after {
  opacity: 1;
  right: -7px;
}

/*Covid 19 strip*/

section.covid-19-strip {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  transform: translateY(400px);
}
.covid-19-strip-show {
  transform: translateY(0) !important;
  transition: transform 0.3s ease;
}
.covid-19-strip {
  background: #b79b5b;
  padding: 15px 80px;
}
.covid-19-strip button {
  background: #fff;
  padding: 10px 15px;
  min-width: 100px;
  color: #b79b5b;
  border: 1px solid #fff;
  font-family: 'caladea';
}
.covid-19-strip button:hover {
  color: #fff;
  background: #b79b5b;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
}

.covid-19,
.cookie {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.covid-19 i,
.cookie i {
  font-size: 30px;
}

.covid-19 p {
  font-weight: 500;
  font-size: 17px;
}

.covid-19 p,
.cookie p {
  padding-left: 20px;
}

.covid-19 p a {
  color: #fff;
  text-decoration: underline;
}
.covid-19 p a:hover {
  color: #204849;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.cookies {
  background: #fbe9bf;
  padding: 15px 10px;
  color: #000;
}

/**/
#cookieModal.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#cookieModal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 600px;
  height: 425px;
  padding: 50px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 1600px) {
  #cookieModal .modal-content {
    width: 60%;
    height: 60%;
  }
}
#cookieModal .modal-content i {
  font-size: 50px;
  margin-bottom: 30px;
  color: #7a5d19;
}
#cookieModal .modal-content p {
  font-size: 22px;
  line-height: 30px;
  padding: 10px 30px 0;
}
#cookieModal .modal-content h3 {
  font-size: 38px;
}
.cookie-btn {
  background: #7a5d19;
  color: #ffffff;
  font-size: 16px;
  max-width: 200px;
  border: 1px solid #7a5d19;
  padding: 10px 15px;
  margin: 40px auto 0;
}
.cookie-btn:hover {
  background: #ffffff;
  color: #7a5d19;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media screen and (max-width: 768px) {
  #cookieModal .modal-content {
    width: 70%;
    height: 55%; /* Could be more or less, depending on screen size */
  }
  .covid-19 p {
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
  }
  .covid-19 {
    flex-direction: column;
  }
  .testimonial .description {
    font-size: 22px;
    line-height: 30px;
  }
}

@media screen and (max-width: 500px) {
  #cookieModal .modal-content p {
    font-size: 17px;
    line-height: 25px;
  }
  #cookieModal .modal-content {
    width: 80%;
    height: auto;
    padding: 10px 0 !important;
  }
  .banner a {
    margin-left: 0px;
    max-width: 228px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 26px;
    text-align: center;
  }
  .banner {
    min-height: 80vh;
    background-position: top right;
  }
}
/* The Close Button */

