<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase   /textpress
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Rewrite all other URLs to index.php/URL
RewriteRule ^(.*)$ index.php?url=$1 [L]
RewriteRule ^(login.php) - [L]
#RewriteRule !\.(js|ico|gif|jpg|png|css|html)$ index.php
</IfModule>
<IfModule !mod_rewrite.c>
	ErrorDocument 404 index.php
</IfModule>